.filter-container {
  display: flex;
  justify-content: space-between;

  .filter-label {
    cursor: pointer;
    color: #868686;
    padding: 10px;

    &.selected {
      font-weight: bold;
      color: #000;
      border-radius: 5px;
      border-color: transparent;
      background: #f6f6f6;
    }
  }
}
